<h1 id="center">Trees in <%=@park.name%> Park</h1>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Botanical Name</th>
        <th>Common Name</th>
      </tr>
    </thead>
    <% @park.trees.each do |tree| %>
      <tr>
        <td><%=tree.botanical_name%></td>
        <td><%=tree.common_name%></td>
      </tr>
    <%end%>
  </table>
